
#SELECT MODE USE suno FOR SUNO , mock FOR MOCK
#You can setting your mock in song_api/generation/mock.py
GENERATOR_STRATEGY=mock
SUNO_API_KEY=YOUR_SUNO_API_KEY

#SELECT MODE USE google FOR googl , mock FOR MOCK
#You can setting your mock in users/auth/mock.py
AUTH_STRATEGY=google
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIECNT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/callback/
